<%if @entries.present?%>
  <h1><%= page_title %></h1>
  <% @entries .each do |entry| %>
    <h2><%= entry.title %></h2>
    <p>truncate(entry.body), length: 80 %></p>
    <%=link_to "もっと読む", entry %>
  <% end %>
  <%=paginate @entries%>
<% else %>
  <p>記事がありません</p>
<% end %>
